head
  title git_feed 2
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
body
  h1 Last changes
  +commitList

template(name='commitList')
  ul.collection
    each commits
      +commitCard

template(name='commitCard')
  li.collection-item.avatar
    img.circle(src=showAvatar(author.avatar_url), alt='')
    span.title= author.name
    p!= escapeMessage(message)

    a.secondary-content(href='#!')
      = showDate(date)