body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NMTEz8z8gABAAPKwIlXWq1kgAAAABJRU5ErkJggg==);
  background-repeat: repeat-y;
  background-position: 50% 0;
  background-color: #00A4ff;
}

.header {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  padding: 20px;
  font-size: 48px;
  text-align: right;
  color: white;
}

.collection .collection-item {
  margin: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  line-height: 1.5em;
}

.collection .collection-item.avatar {
  min-height: 160px;
}

.commit:nth-child(odd) .collection-item:before {
  left: 100%;
  top: 40%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: white;
  border-width: 20px;
}

.commit:nth-child(even) .collection-item:before {
  right: 100%;
  top: 40%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: white;
  border-width: 20px;
}

.collection {
  margin-top: 0;
  border: none;
}

.commit:nth-child(odd) {
  float: left;
}

.commit:nth-child(even) {
  float: right;
}

.commit:nth-child(2) {
  margin-top: 7%;
}

.commit {
  width: 50%;
  float: left;
}

.repo-tag {
  width: 32px;
  height: 32px;
  float: left;
  font-size: x-large;
}

.repo-name {
  float: left;
}

.chip {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
