.chip {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.collection .collection-item {
  margin: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  font-size: 24px;
  line-height: 1.5em;
}

.collection {
  margin-top: 0;
  border: none;
}

body {
  background: #00A4ff;
}

.repo-tag {
  width: 32px;
  height: 32px;
  float: left;
  font-size: x-large;
}

.repo-name {
  float: left;
}